{% extends 'base.html.twig' %}

{% block title %}Conference GuestBook{% endblock %}

{% block body %}
<h2>Give your feedback!</h2>

{% for conf in conferences %}
    <h4>{{ conf }}</h4>
    <a href="/conference/{{conf.id}}">Show comments</a>
{% endfor %}
{% endblock %}
