{% extends 'base.html.twig' %}

{% block title %}Conference GuestBook{% endblock %}

{% block body %}
<h2>Give your feedback!</h2>

{% for conf in conferences %}
    <h4>{{ conf }}</h4>
    {# Mauvaise pratique #}
    {# <a href="/conference/{{conf.id}}">Sho</a> #}

    {# Bonne pratique (On ne doit pas coder en dur au cas où l'url change) #}
    <a href="{{ path('conference', {id: conf.id}) }}">Show</a>
{% endfor %}
{% endblock %}
