{% extends 'base.html.twig' %}

{% block title %}Conference GuestBook{% endblock %}

{% block body %}
<h2>Conferences : </h2>

{% for conf in conferences %}
    <h4>{{ conf }}</h4>
    {# Mauvaise pratique #}
    {# <a href="/conference/{{conf.id}}">Show</a> #}

    {# Bonne pratique (On ne doit pas coder en dur au cas où l'url change) #}
    <a href="{{ path('conference', {slug: conf.slug}) }}">Show</a>
{% endfor %}
{% endblock %}
